{{/* 擴展 head 區塊,添加自訂 CSS */}}

{{/* Google Analytics */}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HCFFHNRVEY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HCFFHNRVEY');
</script>

{{/* 字體與排版優化 CSS */}}
{{ $typographyCSS := resources.Get "css/extended/typography-optimization.css" }}
{{ if $typographyCSS }}
{{ $typographyCSS := $typographyCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $typographyCSS.RelPermalink }}">
{{ end }}

{{/* 閱讀進度條 CSS */}}
{{ if .IsPage }}
{{ $readingProgressCSS := resources.Get "css/extended/reading-progress.css" }}
{{ if $readingProgressCSS }}
{{ $readingProgressCSS := $readingProgressCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $readingProgressCSS.RelPermalink }}">
{{ end }}


{{ end }}
