{{/* 擴展 head 區塊,添加自訂 CSS */}}

{{/* Google Analytics */}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HCFFHNRVEY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HCFFHNRVEY');
</script>

{{/* 字體與排版優化 CSS */}}
{{ $typographyCSS := resources.Get "css/extended/typography-optimization.css" }}
{{ if $typographyCSS }}
{{ $typographyCSS := $typographyCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $typographyCSS.RelPermalink }}">
{{ end }}

{{/* 閱讀進度條 CSS */}}
{{ if .IsPage }}
{{ $readingProgressCSS := resources.Get "css/extended/reading-progress.css" }}
{{ if $readingProgressCSS }}
{{ $readingProgressCSS := $readingProgressCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $readingProgressCSS.RelPermalink }}">
{{ end }}

{{/* KaTeX 數學公式渲染支援 */}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\[', right: '\\]', display: true},
                {left: '\\(', right: '\\)', display: false}
            ],
            throwOnError: false,
            strict: false
        });
    });
</script>

{{ end }}
